<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/item">home</a>&nbsp;|&nbsp;<a href="/item/logout">logout</a>
    {%if messages%}
    {%for message in messages%}
        {%if message.tags == 'error'%}
           <p style='color:red;'>{{message}}</p>
        {%endif%}
        
    {%endfor%}
{%endif%}
    <h1>create a new wish list item</h1>
    <form action="/item/add_item" method="post">
        {% csrf_token %}
       <p>item:</p> <input type="text" name="item"><br>
       <input type="submit" value="add">
    </form>
</body>
</html>